.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    z-index: 3;
    transform: translate(-50%, -50%);
    background: #fff;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75);
}

.close-btn {
    position: absolute;
    right: 10px;
    top: 5px;
    color: black;
    cursor: pointer;
    font-size: 20px;
}

.modal-title {
    border: 1px solid #DCDCDC;
    padding: 15px;
    font-size: 20px;
}

.modal-content {
    margin-top: 5px;
    padding: 12px;
}


.modal-footer {
    border-top: 1px solid #DCDCDC;
    margin: 5px;
    padding: 12px;
    display: flex;
    justify-content: right;
    
}

.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}